//@import "../../common/style.scss";

.home-page {
  height: 100vh;
  overflow-x: hidden;
  position: relative;

  .home-bg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .background {
    background: url('../../assets/images/backgound.jpg') center center no-repeat;
    background-size: cover, 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mask {
    position: absolute;
    background: #373737b3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .content{
    position: absolute;
    display: table;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top:0px;
  }

  .home-page-block h2 {
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin: 0;
    text-align: center;
  }
  .home-page-description {
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    font-family: Oswald,Helvetica,sans-serif;
    margin: 35px 0;
    text-align: center;

  }
  .home-page-block{
    text-align: center;

  }
  .v-align {
    display: table-cell;
    vertical-align: middle;
  }
  .home-page-block .info-list {
    display: inline-block;
    text-align: left
  }

  .home-page-block .info-list li {
    padding: 6px 0
  }
  .home-page-block .info-list li,.home-page-block .info-list li span.title,.home-page-block .info-list li a {
    color: #eee;
    font-size: 16px
  }

  h2 {
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin: 0
  }
  .title {
    display: inline-block;
    font-family: Oswald,Helvetica,sans-serif;
    margin-right: 15px;
    color: #222;
    font-weight: bold;
    font-size: 18px !important;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ffcd38
    }
  }



  .value{
    font-family: pt sans,Helvetica,sans-serif;
    min-width:250px
  }

}
